.game-field {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  &__game-holder {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__message {
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    width: 100%;
    height: 30px;
  }
  &__stats {
    //width: 300px;
  }
  &__settings {
    //width: 300px;
  }
  &__field {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    &--active {
      cursor: crosshair;
      border: 1px solid $color-aside;
      box-shadow: $box-shadow;
      border-radius: 10px;
    }
  }
}