.start {
  background-color: transparent;
  border: none;
  appearance: none;
  padding: 0;
  height: 80px;
  &__btn {
    fill: $h1-color;
    width: 80px;
    height: 80px;
    transition: fill 0.2s;
    &:hover {
      fill: $color-highlight;
    }
  }
}